* {
  --outline-width: 30rem;
}

.outlineContainer,
.hiddenOutlineContainer {
  padding: 1.5rem;

  position: fixed;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: var(--outline-width);
  left: 0;

  color: #ffffff;
  background: #1e1e1e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  overflow: visible;
  transition: transform 0.25s ease-in-out;
  z-index: var(--z-sticky);

  .outlineHeaderRow {
    height: 3.5rem;
    width: 100%;

    display: inline-flex;
    align-items: end;
    flex-shrink: 0;

    margin-bottom: 2rem;
    overflow: visible;

    .outlineTitle {
      font-size: 2.5rem;
      flex: 1;
      font-weight: 600;
    }

    .showOutlineButton,
    .hideOutlineButton {
      height: 3.5rem;
      position: relative;

      display: inline-flex;
      align-items: center;

      padding: 0.25rem 1rem;

      background: #333;
      border: 1px solid #444;
      border-radius: 0.5rem;

      span {
        transform: translateY(-0.1em);
        font-size: 1.75rem;
      }
    }

    .showOutlineButton {
      position: absolute;
      top: 2rem;
      right: 0;
      transform: translateX(calc(100% + 2rem));

      z-index: 99999;

      background: #555;
      border-color: #333;
    }
  }

  .outlineWrapper {
    line-height: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;

    min-height: 0;
    overflow-y: scroll;
    scrollbar-width: none;

    z-index: var(--z-outline);

    .sectionBlock {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      padding: 1rem;

      background: #2a2a2a;
      border-radius: 0.75rem;

      .sectionHeader {
        display: inline-flex;

        height: 2rem;
        line-height: 2rem;
        font-size: 2rem;

        .dragHandle {
          cursor: grab;
          display: flex;
          user-select: none;
          font-size: 2rem;
          transform: translateY(-0.05em);
          margin-right: 1rem;

        }

        .dragHandle:active {
          cursor: grabbing;
        }

        .sectionTitle {
          flex: 1;
          font-weight: 600;
        }

      }

      .sectionContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .deleteButton {
          padding: 0.75rem 2rem;
          font-size: 1.25rem;
          border-radius: 0.5rem;
        }
      }

      .subsectionContainer {
        width: 95%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .subsectionRowWrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .subsectionHeaderRowWrapper {
            display: inline-flex;
            font-size: 1.5rem;

            .upOrDownArrowWrapper {
              width: 15%;
              /* width: 6rem; */

              display: flex;
              justify-content: space-between;
              /* gap: 0.5rem; */
              margin-right: 1rem;

              cursor: pointer;

            }

            span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          }

          .deleteButton {
            font-size: 1rem;
            padding: 0.5rem 1rem;
          }
        }
      }

      .fieldsContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
        font-size: 1rem;

        
        .fieldRowWrapper {
          width: 95%;
          margin-left: auto;
          
          display: flex;
          align-items: center;
          
          .upOrDownArrowWrapper {
            /* width: 2.5rem; */
            width: 10%;
  
            display: flex;
            justify-content: space-between;
            /* gap: 0.5rem; */
            margin-right: 1rem;
  
            cursor: pointer;
  
          }
          /* height: 1.5rem; */

          .deleteButton {
            height: 75%;
            aspect-ratio: 1 / 1;
            margin-left: auto;

            display: inline-flex;
            justify-content: center;
            align-items: center;

            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 0.75rem;
          }

          .subFieldText,
          .placeholderFieldText {
            width: 75%;
            color: #ffffff;
            overflow-wrap: break-word;
            word-break: break-word;
          }

          .placeholderFieldText {
            color: rgba(255, 255, 255, 0.25);
          }

        }
      }
    }

    .sectionBlock:last-child {
      margin-bottom: 10rem;
    }


    .collapseButton {
      background: none;
      margin-left: auto;
      border: none;
      color: white;
      cursor: pointer;
    }



  }

  .deleteButton {
    width: fit-content;
    /* padding: 0 5rem; */
    background: #552222;
    border: 1px solid #773333;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
  }

  .deleteButton:hover {
    background: #662222;
  }

  .addButton {
    width: fit-content;
    margin: 0.5rem 0;

    background: var(--bootstrap-blue);
    border: none;
    border-radius: 0.25rem;

    padding: 0.5rem;

    cursor: pointer;
    text-align: left;
  }


  .addButton:hover {
    text-decoration: underline;
  }
}

.hiddenOutlineContainer {
  transform: translateX(-29rem);
}






.startNewRowWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

@media (max-width: 768px) {

  .outlineContainer,
  .hiddenOutlineContainer {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    padding: 1rem;

    .outlineTitle {
      text-align: center;
      margin-bottom: 2rem;
    }

    .outlineWrapper {
      max-width: 100%;
      margin: auto;
      gap: 1rem;

      /* .sectionBlock {
        
      padding: 1rem;
      
      background: #2a2a2a;
      border-radius: 0.75rem;
      } */
      .sectionTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .showOutlineButton,
  .hideOutlineButton {
    position: fixed;
    left: calc(50vh + 5%);
    z-index: var(--z-outline);
    bottom: 2.5%;
  }

  .hideOutlineButton {
    left: auto;
    right: 0;
  }
}