/* Reset + box model */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

/** ROOT DEFAULT **/
:root {
  /* ! ----------- ! */
  /** CSS VARIABLES **/
  /* ! ----------- ! */

  /* Universal Variables */
  --background-main: rgba(46, 45, 45, 1);
  --background-toolbar: rgba(30, 30, 30, 1);
  --background-toolbar-button: rgba(42, 42, 42, 1);
  --background-button-main: var(--background-main);

  --border-main: 1px solid rgba(255, 255, 255, 0.25);
  --border-toolbar-button: 1px solid rgba(58, 58, 58, 1);
  --border-button-main: 1px solid rgba(58, 58, 58, 1);
  --border-radius-main: 0.25rem;
  --border-radius-rounded-main: 1rem;
  /* --border-radius-main: 0.75rem; */
  --border-radius-button-main: 0.25rem;
  --font-main:
    system-ui, 'Avenir', Helvetica, Arial, sans-serif, Arial, Verdana, Tahoma,
    'Trebuchet MS', 'Times New Roman', 'Georgia', 'Garamond', 'Courier New',
    'Brush Script MT', 'Brush Script MT (cursive)';
  --color-main: rgba(255, 255, 255, 1);
  --color-main-white: rgba(255, 255, 255, 1);

  --font-size-main: var(--font-size-navbar);
  --padding-x-main: clamp(1rem, 15vw, 25rem);

  --width-main: 60%;
  /* Component Specific Variables */
  --height-navbar: clamp(1rem, 10dvh, 15rem);
  --height-toolbar: clamp(2rem, 5rem, 10rem);
  --height-editor-page: 7.7in;
  --width-editor-page: 5.95in;
  --bootstrap-blue: #0d6efd;
  --bootstrap-purple: #4f46e5;
  
  --width-navbar: var(--width-main);
  
  --padding-x-navbar: var(--padding-x-main);
  
  --font-size-navbar: clamp(1rem, 2vw, 2rem);
  
  --gap-toolbar: 0.5dvh;
  
  /* Element Specific Variables */
  --list-padding-left-default: 1rem;
  
  /** Z INDEX VALUES **/
  
  --z-base: 0;
  --z-main: 99;
  --z-navbar: 100;
  
  --z-sticky: 100;
  --z-dropdown: 500;
  --z-modal: 1000;
  --z-outline: 1000;
  
  /* ! ----------- ! */
  /** END CSS VARIABLES **/
  /* ! ----------- ! */
  
  font-family: var(--font-main);
  font-size: 16px;
  background-color: var(--background-main);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  /* @media (min-width: 2560px) {
  --height-toolbar: clamp(2rem, 5rem, 10rem);
  --height-editor-page: 7.7in;
  --width-editor-page: 5.95in;



    --height-toolbar: clamp(2.2rem, 5.5rem, 11rem);
    --height-editor-page: 9.625in;
    --width-editor-page: 7.4375in;
    font-size: 22px;
  } */
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  overflow-x: hidden;
  scrollbar-color: #555 #1e1e1e;
  margin: 0;
}

body {
  background-color: var(--background-main);
}

/** GLOBAL ELEMENT STYLING **/

/* Remove default button/input styles without breaking usability */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

#editorPage ::selection {
  background-color: #316ac5;
  color: white;
}

/** COMMONLY USED STYLING CLASSES **/
/* .buttonMain {
  position: relative;

  width: 2rem;
  height: 2rem;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  font-size: 1.25rem;
    color: var(--color-main-white);
  background: var(--background-button-main);
  border: var(--border-button-main);
  border-radius: var(--border-radius-button-main);
} */
.buttonMain {
  position: relative;
  height: 2rem;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;

  text-align: center;
  padding: 0.5rem;

  color: var(--color-main-white);
  background: var(--background-button-main);
  border: var(--border-button-main);
  border-radius: var(--border-radius-button-main);
}

.buttonMain:hover {
  filter: brightness(1.25);
}

.inputMain {
  height: 2rem;
  width: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  
  border: var(--border-button-main);
  border-radius: var(--border-radius-button-main);
  
  background: var(--background-main);
}

/** SLATE SPECIFIC STYLING **/

/* Prevents Slate Editors from inheriting weird outlines */
[data-slate-editor="true"]:focus {
  outline: none;
}

/* Moves bullets to top of list item for Slate Lists */
[data-slate-editor="true"] li [data-slate-node="text"] {
  vertical-align: top;
}

/** MISC FREQUENTLY USED STYLING **/

.flexRow {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}
