.userResumesWrapper {
   height: 100%;
   width: 80%;
   margin: auto;

   overflow-y: hidden;
   display: flex;
   flex-direction: column;
   /* height: 45rem; */
   /* padding-bottom: 8rem; */
}

.accountHeaderWrapper {
   height: 3rem;
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2.5rem;

   h1 {
      font-size: 2.5rem;
      line-height: 1;
      margin: 0;
   }

   p {
      font-size: 1.25rem;
   }
}

.userResumeRowsWrapper {
   /* height: clamp(25%, 25rem, 50%); */
   /* min-height: 25rem; */
   /* max-height: 50%; */

   display: flex;
   flex-direction: column;
   gap: 1rem;

   /* margin-top: 2.5rem; */
   overflow-y: scroll;
   scrollbar-width: none;
   -ms-overflow-style: none;

   .userResumeRow {
      font-size: 1rem;
      height: 7rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .resumeInfoWrapper {
         height: 100%;
         margin-left: 1rem;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .resumeTitle {
            font-size: 1.25em;
            margin-bottom: 0.5rem;
         }

         .resumeDetailsWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            font-size: 0.75em;
         }

         * {
            margin: 0;
         }
      }
   }

   .userResumeRowDivider {
      height: 1px;
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      margin: auto;
      flex-shrink: 0;
   }
}


.userResumeRowButtons {
   display: flex;
   justify-content: space-between;
   gap: 2rem;

   .editResumeButton,
   .deleteResumeButton {
      color: rgba(255, 255, 255, 1);
      padding: 0.75em 1.5em;
      border: 1px solid transparent;
      border-radius: 2.5rem;
      cursor: pointer;
      background-color: var(--bootstrap-blue-soft);
      /* background-color: rgba(0, 120, 255, 1); */
   }

   .deleteResumeButton {
      background-color: var(--bootstrap-dark-red);
   }
}

.accountSubmitButton {
   width: fit-content;
   margin: 2.5rem 0;
   font-size: 1.25rem;
   padding: 1rem 4rem;

   border: none;
   border-radius: 2.5rem;
   background-color: var(--bootstrap-purple);

   font-weight: 600;
   cursor: pointer;
}

button:hover {
   filter: brightness(1.15);
}


@media (max-width: 768px) {
   .userResumesWrapper {
      width: 100%;

      .mobileResumeRowWrapper {
         max-width: 100%;
         display: flex;
         flex-direction: column;
         gap: 1rem;

         .resumeTitle {
            font-size: 1.25rem;
            line-height: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
         }


         .mobileResumeRow {
            height: max-content;
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 100%;
            gap: 0.5rem;

            figure {
               height: 9rem;
               margin: auto 0;
               flex-grow: 0;
            }

            .mobileResumeRowContent {
               height: 100%;
               /* width: clamp(min-content, auto, 100%); */
               min-width: 50%;
               max-width: max-content;
               /* min-width: 0; */
               overflow: hidden;
               margin-left: auto;

               display: flex;
               flex-direction: column;
               justify-content: space-between;
               flex-grow: 1;

               /* .resumeDetailsWrapper {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 1rem;
               } */
               p {
                  max-width: 100%;
                  display: flex;
                  justify-content: space-between;
                  gap: 0.5rem;
                  min-width: 0;

                  span:first-child {
                     flex-shrink: 0;
                  }

                  span:nth-child(2) {
                     min-width: 0;
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;
                  }
               }

               .userResumeRowButtons {
                  flex-grow: 0;
                  max-width: 100%;
                  justify-content: space-between;
                  gap: 0.25rem;
                  /* gap: clamp(0.125rem, 1rem, 2rem); */

                  button {
                     font-size: 0.875rem;
                     padding: 0.5em 0.75em;
                     border-radius: 0.5rem;
                  }
               }
            }

         }
      }
   }
   .accountSubmitButton {
      margin: 3rem auto auto auto;
   }
}
