.navbarContainer {
  height: var(--height-navbar);
  width: 100%;

  position: fixed;
  display: flex;
  align-items: center;

  font-size: var(--font-size-navbar);

  color: var(--color-main);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
  );

  z-index: var(--z-navbar);
}

.navbarContent {
  width: var(--width-navbar);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarGroup {
  gap: 3rem;
  display: flex;
  justify-content: space-between;
}

.navbarLink,
.navbarLinkActive,
.navbarLink:hover {
  width: max-content;
  font-weight: lighter;
}

@media (max-width: 768px) {
   .navbarContent {
      width: 100%;
   }
   .navbarGroup .navbarLink {
      width: 100%;
   }
   .navbarGroup {
      width: 100%;
   }

   .navbarLink {
      /* width: 100%; */
      width: fit-content;
      text-align: center;
   }
}